In [1]:
from selenium import webdriver #웹 접근 
from bs4 import BeautifulSoup #분석을 용이하게 html
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [39]:
from selenium import webdriver
import time

In [ ]:
https://www.mcdonalds.co.kr/kor/store/list.do
#container > div.content > div.contArea > div > div > button > span

In [15]:
driver = webdriver.Chrome('star.exe')
driver.get("https://www.mcdonalds.co.kr/kor/store/list.do")

<ipython-input-15-7ae619cfb631>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('star.exe')

In [16]:
area_btn= '#container > div.content > div.contArea > div > div > button > span'
driver.find_element_by_css_selector(area_btn).click()

<ipython-input-16-ec1210fa86a9>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_css_selector(area_btn).click()

In [31]:
html = driver.page_source
soup = BeautifulSoup(html,"html.parser")

In [23]:
mc_soup_list =[]
mc_soup_list +=soup.select("dd.road")
mc_soup_list

[<dd class="road">서울 구로구 디지털로31길 12 태평양물산 1층 맥도날드</dd>,
 <dd class="road">서울 구로구 새말로 97 (구로동)</dd>,
 <dd class="road">서울 구로구 경인로 662 디큐브시티 B2</dd>,
 <dd class="road">서울 금천구 벚꽃로 298 대륭포스트타워 6차</dd>,
 <dd class="road">서울 영등포구 여의대방로 145 세인트빌딩</dd>]

In [32]:
mc_soup_list +=soup.select("dd.road")
mc_soup_list

[<dd class="road">서울 구로구 디지털로31길 12 태평양물산 1층 맥도날드</dd>,
 <dd class="road">서울 구로구 새말로 97 (구로동)</dd>,
 <dd class="road">서울 구로구 경인로 662 디큐브시티 B2</dd>,
 <dd class="road">서울 금천구 벚꽃로 298 대륭포스트타워 6차</dd>,
 <dd class="road">서울 영등포구 여의대방로 145 세인트빌딩</dd>,
 <dd class="road">서울 금천구 디지털로 185 마리오아울렛1</dd>,
 <dd class="road">서울 금천구 가산디지털1로 165 (가산동)</dd>,
 <dd class="road">서울 영등포구 경인로 855</dd>,
 <dd class="road">서울 구로구 경인로 393</dd>,
 <dd class="road">서울 관악구 신림로 310</dd>,
 <dd class="road">경기 광명시 철망산로 87</dd>,
 <dd class="road">경기 광명시 오리로856번길 17 (철산동) </dd>,
 <dd class="road">서울 양천구 목동동로 71 (신정동) </dd>,
 <dd class="road">서울 영등포구 선유로 195</dd>,
 <dd class="road">서울 영등포구 국제금융로 10 L3층</dd>,
 <dd class="road">경기 광명시 광명로 895-1 (광명동)</dd>,
 <dd class="road">서울 동작구 노량진로 158</dd>,
 <dd class="road">서울 양천구 목동로 221</dd>,
 <dd class="road">서울 양천구 목동서로 45 (목동) </dd>,
 <dd class="road">서울 금천구 시흥대로 184</dd>,
 <dd class="road">서울 동작구 사당로 22 창주빌딩 1층</dd>,
 <dd class="road">경기 광명시 광명로 765</dd>,
 <dd class="road">경기 광명시 오리로 512</dd>,
 <dd class="road">서울 동작구 흑석로 84 (R&amp;D센터 지하1층 맥도날드)</dd>,
 <dd class="road">서울 양천구 남부순환로 553 (신월동) </dd>]

In [33]:
html = driver.page_source
soup = BeautifulSoup(html,"html.parser")

mc_soup_list +=soup.select("dd.road")
mc_soup_list

[<dd class="road">서울 구로구 디지털로31길 12 태평양물산 1층 맥도날드</dd>,
 <dd class="road">서울 구로구 새말로 97 (구로동)</dd>,
 <dd class="road">서울 구로구 경인로 662 디큐브시티 B2</dd>,
 <dd class="road">서울 금천구 벚꽃로 298 대륭포스트타워 6차</dd>,
 <dd class="road">서울 영등포구 여의대방로 145 세인트빌딩</dd>,
 <dd class="road">서울 금천구 디지털로 185 마리오아울렛1</dd>,
 <dd class="road">서울 금천구 가산디지털1로 165 (가산동)</dd>,
 <dd class="road">서울 영등포구 경인로 855</dd>,
 <dd class="road">서울 구로구 경인로 393</dd>,
 <dd class="road">서울 관악구 신림로 310</dd>,
 <dd class="road">경기 광명시 철망산로 87</dd>,
 <dd class="road">경기 광명시 오리로856번길 17 (철산동) </dd>,
 <dd class="road">서울 양천구 목동동로 71 (신정동) </dd>,
 <dd class="road">서울 영등포구 선유로 195</dd>,
 <dd class="road">서울 영등포구 국제금융로 10 L3층</dd>,
 <dd class="road">경기 광명시 광명로 895-1 (광명동)</dd>,
 <dd class="road">서울 동작구 노량진로 158</dd>,
 <dd class="road">서울 양천구 목동로 221</dd>,
 <dd class="road">서울 양천구 목동서로 45 (목동) </dd>,
 <dd class="road">서울 금천구 시흥대로 184</dd>,
 <dd class="road">서울 동작구 사당로 22 창주빌딩 1층</dd>,
 <dd class="road">경기 광명시 광명로 765</dd>,
 <dd class="road">경기 광명시 오리로 512</dd>,
 <dd class="road">서울 동작구 흑석로 84 (R&amp;D센터 지하1층 맥도날드)</dd>,
 <dd class="road">서울 양천구 남부순환로 553 (신월동) </dd>,
 <dd class="road">서울 강서구 공항대로71길 3  (염창동) </dd>,
 <dd class="road">서울 마포구 양화로 45 메세나폴리스 2층 맥도날드</dd>,
 <dd class="road">서울 마포구 마포대로 53 (도화동)</dd>,
 <dd class="road">서울 마포구 월드컵로 81 (망원동)</dd>,
 <dd class="road">서울 양천구 남부순환로 404</dd>]

In [ ]:
i=3
area_btn= '#container > div.content > div.contArea > div > div > div.mcStore > div > span > a:nth-child('+i+')'
#driver.find_element_by_css_selector(area_btn).click()
#container > div.content > div.contArea > div > div > div.mcStore > div > span > a:nth-child(2)

In [38]:
i=3
area_btn1= '#container > div.content > div.contArea > div > div > div.mcStore > div > span > a:nth-child('+str(i)+')'
driver.find_element_by_css_selector(area_btn1).click()

<ipython-input-38-2235b751bb13>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_css_selector(area_btn1).click()

In [45]:
mc_soup_list2 =[]

html2 = driver.page_source
soup2 = BeautifulSoup(html2,"html.parser")

mc_soup_list2 +=soup2.select("dd.road")
mc_soup_list2

[<dd class="road">서울 구로구 디지털로31길 12 태평양물산 1층 맥도날드</dd>,
 <dd class="road">서울 구로구 새말로 97 (구로동)</dd>,
 <dd class="road">서울 구로구 경인로 662 디큐브시티 B2</dd>,
 <dd class="road">서울 금천구 벚꽃로 298 대륭포스트타워 6차</dd>,
 <dd class="road">서울 영등포구 여의대방로 145 세인트빌딩</dd>]

In [52]:


for i in range(2,11):
    area_btn2= '#container > div.content > div.contArea > div > div > div.mcStore > div > span > a:nth-child('+str(i)+')'
    driver.find_element_by_css_selector(area_btn2).click()
    time.sleep(2)
    html2 = driver.page_source
    soup2 = BeautifulSoup(html2,"html.parser")

    mc_soup_list2 +=soup2.select("dd.road")

<ipython-input-52-62c693a98d82>:3: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_css_selector(area_btn2).click()

In [55]:
html2 = driver.page_source
soup2 = BeautifulSoup(html2,"html.parser")

mc_soup_list2 +=soup2.select("dd.road")
mc_soup_list2

[<dd class="road">서울 구로구 디지털로31길 12 태평양물산 1층 맥도날드</dd>,
 <dd class="road">서울 구로구 새말로 97 (구로동)</dd>,
 <dd class="road">서울 구로구 경인로 662 디큐브시티 B2</dd>,
 <dd class="road">서울 금천구 벚꽃로 298 대륭포스트타워 6차</dd>,
 <dd class="road">서울 영등포구 여의대방로 145 세인트빌딩</dd>,
 <dd class="road">서울 금천구 디지털로 185 마리오아울렛1</dd>,
 <dd class="road">서울 금천구 가산디지털1로 165 (가산동)</dd>,
 <dd class="road">서울 영등포구 경인로 855</dd>,
 <dd class="road">서울 구로구 경인로 393</dd>,
 <dd class="road">서울 관악구 신림로 310</dd>,
 <dd class="road">경기 광명시 철망산로 87</dd>,
 <dd class="road">경기 광명시 오리로856번길 17 (철산동) </dd>,
 <dd class="road">서울 양천구 목동동로 71 (신정동) </dd>,
 <dd class="road">서울 영등포구 선유로 195</dd>,
 <dd class="road">서울 영등포구 국제금융로 10 L3층</dd>,
 <dd class="road">경기 광명시 광명로 895-1 (광명동)</dd>,
 <dd class="road">서울 동작구 노량진로 158</dd>,
 <dd class="road">서울 양천구 목동로 221</dd>,
 <dd class="road">서울 양천구 목동서로 45 (목동) </dd>,
 <dd class="road">서울 금천구 시흥대로 184</dd>,
 <dd class="road">서울 동작구 사당로 22 창주빌딩 1층</dd>,
 <dd class="road">경기 광명시 광명로 765</dd>,
 <dd class="road">경기 광명시 오리로 512</dd>,
 <dd class="road">서울 동작구 흑석로 84 (R&amp;D센터 지하1층 맥도날드)</dd>,
 <dd class="road">서울 양천구 남부순환로 553 (신월동) </dd>,
 <dd class="road">서울 강서구 공항대로71길 3  (염창동) </dd>,
 <dd class="road">서울 마포구 양화로 45 메세나폴리스 2층 맥도날드</dd>,
 <dd class="road">서울 마포구 마포대로 53 (도화동)</dd>,
 <dd class="road">서울 마포구 월드컵로 81 (망원동)</dd>,
 <dd class="road">서울 양천구 남부순환로 404</dd>,
 <dd class="road">서울 동작구 사당로 300 (사당동) </dd>,
 <dd class="road">서울시 강서구 화곡동 1026</dd>,
 <dd class="road">서울 강서구 양천로 546</dd>,
 <dd class="road">서울 서대문구 연세로 33</dd>,
 <dd class="road">경기 부천시 경인로 487</dd>,
 <dd class="road">경기 부천시 소사로 689</dd>,
 <dd class="road">서울 서초구 방배로 81 유경빌딩 1층</dd>,
 <dd class="road">서울 용산구 청파로 378 서울역 2층</dd>,
 <dd class="road">서울 용산구 이태원로 142-1</dd>,
 <dd class="road">서울 마포구 월드컵북로 400 1층 맥도날드</dd>,
 <dd class="road">서울특별시 서대문구 거북골로 25 (남가좌동)</dd>,
 <dd class="road">서울 서초구 효령로49길 52 (서초동) </dd>,
 <dd class="road">경기 부천시 부천로 11</dd>,
 <dd class="road">경기 시흥시 대은로 90</dd>,
 <dd class="road">서울 서초구 서초대로 316(서초동) </dd>,
 <dd class="road">서울 중구 퇴계로 116-1 (회현동 3가)</dd>,
 <dd class="road">서울 강서구 공항대로 21 (공항동,맥도날드)</dd>,
 <dd class="road">서울 중구 남대문로9길 51 효덕빌딩</dd>,
 <dd class="road">서울 중구 명동7길 8</dd>,
 <dd class="road">경기 부천시 중동로262번길 94 (중동) </dd>,
 <dd class="road">경기 부천시 경인로 170</dd>,
 <dd class="road">경기 안양시 만안구 안양로292번길 22</dd>,
 <dd class="road">서울 서대문구 통일로 442-1</dd>,
 <dd class="road">서울 강남구 도산대로 123 2층</dd>,
 <dd class="road">경기 과천시 별양상가3로 11 1층</dd>,
 <dd class="road">서울 강남구 테헤란로 107 메디타워2층</dd>,
 <dd class="road">서울 종로구 종로 115</dd>,
 <dd class="road">서울 은평구 은평로 111 은평이마트 8층 맥도날드</dd>,
 <dd class="road">서울 서초구 강남대로 305, 101호(서초 현대렉시온)</dd>,
 <dd class="road">서울 강남구 논현로 667</dd>,
 <dd class="road">서울 강남구 논현로 848 1층 맥도날드</dd>,
 <dd class="road">경기 안양시 동안구 경수대로 839 (비산동) </dd>,
 <dd class="road">서울 서초구 강남대로 213</dd>,
 <dd class="road">경기 부천시 길주로 118 (상동)</dd>,
 <dd class="road">서울 서초구 바우뫼로 178</dd>,
 <dd class="road">서울 은평구 연서로 131 홍천빌딩</dd>,
 <dd class="road">인천 부평구 경인로 1191</dd>,
 <dd class="road">서울 강남구 선릉로 667</dd>,
 <dd class="road">서울 강남구 도산대로 407</dd>,
 <dd class="road">서울 종로구 창경궁로 241-1</dd>,
 <dd class="road">서울 강남구 테헤란로 326 아이타워 1층 맥도날드</dd>,
 <dd class="road">서울 강남구 봉은사로 432</dd>,
 <dd class="road">서울 종로구 대학로 130 맥도날드</dd>,
 <dd class="road">서울 종로구 종로 339</dd>,
 <dd class="road">경기 안양시 동안구 평촌대로 137 (호계동) </dd>,
 <dd class="road">서울 은평구 연서로 213</dd>,
 <dd class="road">서울 강남구 도곡로 409</dd>,
 <dd class="road">경기 군포시 고산로 715 (산본동)</dd>,
 <dd class="road">서울 성북구 동소문로 13 일화빌딩 1층</dd>,
 <dd class="road">서울 강남구 삼성로92길 29 도일빌딩 1층</dd>,
 <dd class="road">경기 고양시 덕양구 충경로 38</dd>,
 <dd class="road">서울 성동구 왕십리로 227</dd>,
 <dd class="road">서울 강남구 영동대로 513 B1 A102 맥도날드</dd>,
 <dd class="road">인천 계양구 오조산로 39</dd>,
 <dd class="road">서울 성동구 뚝섬로 379</dd>,
 <dd class="road">인천 부평구 장제로 380 (삼산동) </dd>,
 <dd class="road">서울 성북구 고려대로24길 42 방주빌딩</dd>,
 <dd class="road">인천 부평구 부평문화로 65</dd>,
 <dd class="road">경기 군포시 산본로 347 이마트 내 3층</dd>,
 <dd class="road">인천 부평구 광장로 16</dd>,
 <dd class="road">인천 부평구 부평대로 96</dd>,
 <dd class="road">인천 남동구 백범로 229 (만수동)</dd>,
 <dd class="road">서울 송파구 도곡로 434</dd>,
 <dd class="road">경기 김포시 고촌읍 김포대로 336</dd>,
 <dd class="road">경기 고양시 덕양구 화신로272번길 67</dd>,
 <dd class="road">서울 송파구 올림픽로 108 맥스빌딩 1층</dd>,
 <dd class="road">경기 고양시 덕양구 고양대로 1948</dd>,
 <dd class="road">서울 성북구 종암로 58</dd>,
 <dd class="road">서울 광진구 광나루로 392</dd>,
 <dd class="road">경기 의왕시 경수대로 351</dd>,
 <dd class="road">서울 동대문구 전농로16길 8</dd>,
 <dd class="road">서울 광진구 아차산로 376</dd>,
 <dd class="road">경기 군포시 고산로 259</dd>,
 <dd class="road">서울 강북구 삼양로 158</dd>,
 <dd class="road">인천 남동구 남동대로 724</dd>,
 <dd class="road">서울 동대문구 답십리로 291-1 (장안동) </dd>,
 <dd class="road">인천 남동구 예술로 198</dd>,
 <dd class="road">서울 송파구 송파대로 558</dd>,
 <dd class="road">서울 동대문구 휘경로 13</dd>,
 <dd class="road">서울 강북구 도봉로 204 미아역 맥도날드</dd>,
 <dd class="road">경기 고양시 덕양구 호국로 777</dd>,
 <dd class="road">인천 남동구 인주대로 514 (구월동)</dd>,
 <dd class="road">서울 송파구 백제고분로 390</dd>,
 <dd class="road">서울특별시 강북구 월계로 191</dd>,
 <dd class="road">서울 중랑구 망우로 202 동성빌딩</dd>,
 <dd class="road">서울 강북구 도봉로 342</dd>,
 <dd class="road">인천 미추홀구 매소홀로 600 (문학동)</dd>,
 <dd class="road">인천 서구 서곶로 265</dd>,
 <dd class="road">경기 성남시 분당구 운중로 190</dd>,
 <dd class="road">경기 고양시 일산동구 백마로 493</dd>,
 <dd class="road">경기 고양시 일산동구 중앙로 1190 (마두동)</dd>,
 <dd class="road">경기 양주시 장흥면 서울외곽순환고속도로 58 양주간이휴게시설내 양주휴게소DT점</dd>,
 <dd class="road">경기 안산시 단원구 당곡로 12 (고잔동) </dd>,
 <dd class="road">서울 중랑구 상봉로 118 이마트상봉점 내 맥도날드</dd>,
 <dd class="road">서울 송파구 동남로 196</dd>,
 <dd class="road">경기 안산시 단원구 광덕3로 145-3</dd>,
 <dd class="road">경기 고양시 일산동구 중앙로1275번길 38-5 이레21빌딩</dd>,
 <dd class="road">서울 중랑구 봉화산로 194 신아타운1층 신내 맥도날드</dd>,
 <dd class="road">인천 연수구 먼우금로 200 (연수동) </dd>,
 <dd class="road">서울 도봉구 도봉로 541 (쌍문동) </dd>,
 <dd class="road">경기 성남시 분당구 판교역로 231 H스퀘어 S동 1층</dd>,
 <dd class="road">서울 강동구 양재대로 1382</dd>,
 <dd class="road">인천 연수구 경원대로 184</dd>,
 <dd class="road">서울 노원구 공릉로 231</dd>,
 <dd class="road">서울 노원구 한글비석로 57 (하계동)</dd>,
 <dd class="road">서울 송파구 위례광장로 290번지 위례중앙푸르지오 2단지</dd>,
 <dd class="road">경기 시흥시 정왕대로 210 (정왕동, EMART시화점 1층)</dd>,
 <dd class="road">경기 성남시 분당구 대왕판교로606번길 58</dd>,
 <dd class="road">서울 노원구 동일로 1341 장우빌딩 1층</dd>,
 <dd class="road">서울 강동구 양재대로 1587</dd>,
 <dd class="road">경기 성남시 분당구 야탑로81번길 11 (야탑동) </dd>,
 <dd class="road">경기 김포시 중봉로25번길 21</dd>,
 <dd class="road">인천 연수구 비류대로 176 (옥련동) </dd>,
 <dd class="road">경기 성남시 수정구 수정로 306 (신흥동) </dd>,
 <dd class="road">경기 수원시 장안구 서부로 2127</dd>,
 <dd class="road">경기 고양시 일산서구 대산로 113 1층 맥도날드(주엽동, 백마프라자)</dd>,
 <dd class="road">경기 고양시 덕양구 호국로 1699</dd>,
 <dd class="road">경기 성남시 분당구 백현로101번길 29 C&amp;C 빌딩 1층</dd>,
 <dd class="road">경기 수원시 장안구 경수대로 991 (송죽동)</dd>,
 <dd class="road">경기 고양시 일산동구 고양대로 745 (중산동) </dd>,
 <dd class="road">경기 고양시 일산서구 대산로 113 1층 맥도날드(주엽동, 백마프라자)</dd>,
 <dd class="road">경기 고양시 덕양구 호국로 1699</dd>,
 <dd class="road">경기 성남시 분당구 백현로101번길 29 C&amp;C 빌딩 1층</dd>,
 <dd class="road">경기 수원시 장안구 경수대로 991 (송죽동)</dd>,
 <dd class="road">경기 고양시 일산동구 고양대로 745 (중산동) </dd>,
 <dd class="road">서울 도봉구 도봉로 735</dd>,
 <dd class="road">서울 노원구 중계로 218</dd>,
 <dd class="road">인천 중구 인항로 38 (신흥동3가) </dd>,
 <dd class="road">인천 중구 우현로 85-1 (인현동)</dd>,
 <dd class="road">서울 노원구 동일로 1612</dd>,
 <dd class="road">서울 강동구 상일로6길 39</dd>,
 <dd class="road">인천 연수구 하모니로 128 (송도동)</dd>,
 <dd class="road">경기 성남시 분당구 성남대로 45 (구미동)</dd>,
 <dd class="road">경기 용인시 수지구 신수로 677</dd>,
 <dd class="road">경기 용인시 수지구 풍덕천로 119 (풍덕천동)</dd>]

In [47]:
mc_soup_list2

[<dd class="road">서울 구로구 디지털로31길 12 태평양물산 1층 맥도날드</dd>,
 <dd class="road">서울 구로구 새말로 97 (구로동)</dd>,
 <dd class="road">서울 구로구 경인로 662 디큐브시티 B2</dd>,
 <dd class="road">서울 금천구 벚꽃로 298 대륭포스트타워 6차</dd>,
 <dd class="road">서울 영등포구 여의대방로 145 세인트빌딩</dd>,
 <dd class="road">서울 금천구 디지털로 185 마리오아울렛1</dd>,
 <dd class="road">서울 금천구 가산디지털1로 165 (가산동)</dd>,
 <dd class="road">서울 영등포구 경인로 855</dd>,
 <dd class="road">서울 구로구 경인로 393</dd>,
 <dd class="road">서울 관악구 신림로 310</dd>,
 <dd class="road">경기 광명시 철망산로 87</dd>,
 <dd class="road">경기 광명시 오리로856번길 17 (철산동) </dd>,
 <dd class="road">서울 양천구 목동동로 71 (신정동) </dd>,
 <dd class="road">서울 영등포구 선유로 195</dd>,
 <dd class="road">서울 영등포구 국제금융로 10 L3층</dd>,
 <dd class="road">경기 광명시 광명로 895-1 (광명동)</dd>,
 <dd class="road">서울 동작구 노량진로 158</dd>,
 <dd class="road">서울 양천구 목동로 221</dd>,
 <dd class="road">서울 양천구 목동서로 45 (목동) </dd>,
 <dd class="road">서울 금천구 시흥대로 184</dd>,
 <dd class="road">서울 동작구 사당로 22 창주빌딩 1층</dd>,
 <dd class="road">경기 광명시 광명로 765</dd>,
 <dd class="road">경기 광명시 오리로 512</dd>,
 <dd class="road">서울 동작구 흑석로 84 (R&amp;D센터 지하1층 맥도날드)</dd>,
 <dd class="road">서울 양천구 남부순환로 553 (신월동) </dd>,
 <dd class="road">서울 강서구 공항대로71길 3  (염창동) </dd>,
 <dd class="road">서울 마포구 양화로 45 메세나폴리스 2층 맥도날드</dd>,
 <dd class="road">서울 마포구 마포대로 53 (도화동)</dd>,
 <dd class="road">서울 마포구 월드컵로 81 (망원동)</dd>,
 <dd class="road">서울 양천구 남부순환로 404</dd>,
 <dd class="road">서울 동작구 사당로 300 (사당동) </dd>,
 <dd class="road">서울시 강서구 화곡동 1026</dd>,
 <dd class="road">서울 강서구 양천로 546</dd>,
 <dd class="road">서울 서대문구 연세로 33</dd>,
 <dd class="road">경기 부천시 경인로 487</dd>,
 <dd class="road">경기 부천시 소사로 689</dd>,
 <dd class="road">서울 서초구 방배로 81 유경빌딩 1층</dd>,
 <dd class="road">서울 용산구 청파로 378 서울역 2층</dd>,
 <dd class="road">서울 용산구 이태원로 142-1</dd>,
 <dd class="road">서울 마포구 월드컵북로 400 1층 맥도날드</dd>,
 <dd class="road">서울특별시 서대문구 거북골로 25 (남가좌동)</dd>,
 <dd class="road">서울 서초구 효령로49길 52 (서초동) </dd>,
 <dd class="road">경기 부천시 부천로 11</dd>,
 <dd class="road">경기 시흥시 대은로 90</dd>,
 <dd class="road">서울 서초구 서초대로 316(서초동) </dd>,
 <dd class="road">서울 중구 퇴계로 116-1 (회현동 3가)</dd>,
 <dd class="road">서울 강서구 공항대로 21 (공항동,맥도날드)</dd>,
 <dd class="road">서울 중구 남대문로9길 51 효덕빌딩</dd>,
 <dd class="road">서울 중구 명동7길 8</dd>,
 <dd class="road">경기 부천시 중동로262번길 94 (중동) </dd>]

In [ ]:
#container > div.content > div.contArea > div > div > div.mcStore > div > span > a:nth-child(2)

In [61]:
mc_soup_list2.insert(0,'시군구명')
mc_soup_list2

['시군구명',
 <dd class="road">서울 구로구 디지털로31길 12 태평양물산 1층 맥도날드</dd>,
 <dd class="road">서울 구로구 새말로 97 (구로동)</dd>,
 <dd class="road">서울 구로구 경인로 662 디큐브시티 B2</dd>,
 <dd class="road">서울 금천구 벚꽃로 298 대륭포스트타워 6차</dd>,
 <dd class="road">서울 영등포구 여의대방로 145 세인트빌딩</dd>,
 <dd class="road">서울 금천구 디지털로 185 마리오아울렛1</dd>,
 <dd class="road">서울 금천구 가산디지털1로 165 (가산동)</dd>,
 <dd class="road">서울 영등포구 경인로 855</dd>,
 <dd class="road">서울 구로구 경인로 393</dd>,
 <dd class="road">서울 관악구 신림로 310</dd>,
 <dd class="road">경기 광명시 철망산로 87</dd>,
 <dd class="road">경기 광명시 오리로856번길 17 (철산동) </dd>,
 <dd class="road">서울 양천구 목동동로 71 (신정동) </dd>,
 <dd class="road">서울 영등포구 선유로 195</dd>,
 <dd class="road">서울 영등포구 국제금융로 10 L3층</dd>,
 <dd class="road">경기 광명시 광명로 895-1 (광명동)</dd>,
 <dd class="road">서울 동작구 노량진로 158</dd>,
 <dd class="road">서울 양천구 목동로 221</dd>,
 <dd class="road">서울 양천구 목동서로 45 (목동) </dd>,
 <dd class="road">서울 금천구 시흥대로 184</dd>,
 <dd class="road">서울 동작구 사당로 22 창주빌딩 1층</dd>,
 <dd class="road">경기 광명시 광명로 765</dd>,
 <dd class="road">경기 광명시 오리로 512</dd>,
 <dd class="road">서울 동작구 흑석로 84 (R&amp;D센터 지하1층 맥도날드)</dd>,
 <dd class="road">서울 양천구 남부순환로 553 (신월동) </dd>,
 <dd class="road">서울 강서구 공항대로71길 3  (염창동) </dd>,
 <dd class="road">서울 마포구 양화로 45 메세나폴리스 2층 맥도날드</dd>,
 <dd class="road">서울 마포구 마포대로 53 (도화동)</dd>,
 <dd class="road">서울 마포구 월드컵로 81 (망원동)</dd>,
 <dd class="road">서울 양천구 남부순환로 404</dd>,
 <dd class="road">서울 동작구 사당로 300 (사당동) </dd>,
 <dd class="road">서울시 강서구 화곡동 1026</dd>,
 <dd class="road">서울 강서구 양천로 546</dd>,
 <dd class="road">서울 서대문구 연세로 33</dd>,
 <dd class="road">경기 부천시 경인로 487</dd>,
 <dd class="road">경기 부천시 소사로 689</dd>,
 <dd class="road">서울 서초구 방배로 81 유경빌딩 1층</dd>,
 <dd class="road">서울 용산구 청파로 378 서울역 2층</dd>,
 <dd class="road">서울 용산구 이태원로 142-1</dd>,
 <dd class="road">서울 마포구 월드컵북로 400 1층 맥도날드</dd>,
 <dd class="road">서울특별시 서대문구 거북골로 25 (남가좌동)</dd>,
 <dd class="road">서울 서초구 효령로49길 52 (서초동) </dd>,
 <dd class="road">경기 부천시 부천로 11</dd>,
 <dd class="road">경기 시흥시 대은로 90</dd>,
 <dd class="road">서울 서초구 서초대로 316(서초동) </dd>,
 <dd class="road">서울 중구 퇴계로 116-1 (회현동 3가)</dd>,
 <dd class="road">서울 강서구 공항대로 21 (공항동,맥도날드)</dd>,
 <dd class="road">서울 중구 남대문로9길 51 효덕빌딩</dd>,
 <dd class="road">서울 중구 명동7길 8</dd>,
 <dd class="road">경기 부천시 중동로262번길 94 (중동) </dd>,
 <dd class="road">경기 부천시 경인로 170</dd>,
 <dd class="road">경기 안양시 만안구 안양로292번길 22</dd>,
 <dd class="road">서울 서대문구 통일로 442-1</dd>,
 <dd class="road">서울 강남구 도산대로 123 2층</dd>,
 <dd class="road">경기 과천시 별양상가3로 11 1층</dd>,
 <dd class="road">서울 강남구 테헤란로 107 메디타워2층</dd>,
 <dd class="road">서울 종로구 종로 115</dd>,
 <dd class="road">서울 은평구 은평로 111 은평이마트 8층 맥도날드</dd>,
 <dd class="road">서울 서초구 강남대로 305, 101호(서초 현대렉시온)</dd>,
 <dd class="road">서울 강남구 논현로 667</dd>,
 <dd class="road">서울 강남구 논현로 848 1층 맥도날드</dd>,
 <dd class="road">경기 안양시 동안구 경수대로 839 (비산동) </dd>,
 <dd class="road">서울 서초구 강남대로 213</dd>,
 <dd class="road">경기 부천시 길주로 118 (상동)</dd>,
 <dd class="road">서울 서초구 바우뫼로 178</dd>,
 <dd class="road">서울 은평구 연서로 131 홍천빌딩</dd>,
 <dd class="road">인천 부평구 경인로 1191</dd>,
 <dd class="road">서울 강남구 선릉로 667</dd>,
 <dd class="road">서울 강남구 도산대로 407</dd>,
 <dd class="road">서울 종로구 창경궁로 241-1</dd>,
 <dd class="road">서울 강남구 테헤란로 326 아이타워 1층 맥도날드</dd>,
 <dd class="road">서울 강남구 봉은사로 432</dd>,
 <dd class="road">서울 종로구 대학로 130 맥도날드</dd>,
 <dd class="road">서울 종로구 종로 339</dd>,
 <dd class="road">경기 안양시 동안구 평촌대로 137 (호계동) </dd>,
 <dd class="road">서울 은평구 연서로 213</dd>,
 <dd class="road">서울 강남구 도곡로 409</dd>,
 <dd class="road">경기 군포시 고산로 715 (산본동)</dd>,
 <dd class="road">서울 성북구 동소문로 13 일화빌딩 1층</dd>,
 <dd class="road">서울 강남구 삼성로92길 29 도일빌딩 1층</dd>,
 <dd class="road">경기 고양시 덕양구 충경로 38</dd>,
 <dd class="road">서울 성동구 왕십리로 227</dd>,
 <dd class="road">서울 강남구 영동대로 513 B1 A102 맥도날드</dd>,
 <dd class="road">인천 계양구 오조산로 39</dd>,
 <dd class="road">서울 성동구 뚝섬로 379</dd>,
 <dd class="road">인천 부평구 장제로 380 (삼산동) </dd>,
 <dd class="road">서울 성북구 고려대로24길 42 방주빌딩</dd>,
 <dd class="road">인천 부평구 부평문화로 65</dd>,
 <dd class="road">경기 군포시 산본로 347 이마트 내 3층</dd>,
 <dd class="road">인천 부평구 광장로 16</dd>,
 <dd class="road">인천 부평구 부평대로 96</dd>,
 <dd class="road">인천 남동구 백범로 229 (만수동)</dd>,
 <dd class="road">서울 송파구 도곡로 434</dd>,
 <dd class="road">경기 김포시 고촌읍 김포대로 336</dd>,
 <dd class="road">경기 고양시 덕양구 화신로272번길 67</dd>,
 <dd class="road">서울 송파구 올림픽로 108 맥스빌딩 1층</dd>,
 <dd class="road">경기 고양시 덕양구 고양대로 1948</dd>,
 <dd class="road">서울 성북구 종암로 58</dd>,
 <dd class="road">서울 광진구 광나루로 392</dd>,
 <dd class="road">경기 의왕시 경수대로 351</dd>,
 <dd class="road">서울 동대문구 전농로16길 8</dd>,
 <dd class="road">서울 광진구 아차산로 376</dd>,
 <dd class="road">경기 군포시 고산로 259</dd>,
 <dd class="road">서울 강북구 삼양로 158</dd>,
 <dd class="road">인천 남동구 남동대로 724</dd>,
 <dd class="road">서울 동대문구 답십리로 291-1 (장안동) </dd>,
 <dd class="road">인천 남동구 예술로 198</dd>,
 <dd class="road">서울 송파구 송파대로 558</dd>,
 <dd class="road">서울 동대문구 휘경로 13</dd>,
 <dd class="road">서울 강북구 도봉로 204 미아역 맥도날드</dd>,
 <dd class="road">경기 고양시 덕양구 호국로 777</dd>,
 <dd class="road">인천 남동구 인주대로 514 (구월동)</dd>,
 <dd class="road">서울 송파구 백제고분로 390</dd>,
 <dd class="road">서울특별시 강북구 월계로 191</dd>,
 <dd class="road">서울 중랑구 망우로 202 동성빌딩</dd>,
 <dd class="road">서울 강북구 도봉로 342</dd>,
 <dd class="road">인천 미추홀구 매소홀로 600 (문학동)</dd>,
 <dd class="road">인천 서구 서곶로 265</dd>,
 <dd class="road">경기 성남시 분당구 운중로 190</dd>,
 <dd class="road">경기 고양시 일산동구 백마로 493</dd>,
 <dd class="road">경기 고양시 일산동구 중앙로 1190 (마두동)</dd>,
 <dd class="road">경기 양주시 장흥면 서울외곽순환고속도로 58 양주간이휴게시설내 양주휴게소DT점</dd>,
 <dd class="road">경기 안산시 단원구 당곡로 12 (고잔동) </dd>,
 <dd class="road">서울 중랑구 상봉로 118 이마트상봉점 내 맥도날드</dd>,
 <dd class="road">서울 송파구 동남로 196</dd>,
 <dd class="road">경기 안산시 단원구 광덕3로 145-3</dd>,
 <dd class="road">경기 고양시 일산동구 중앙로1275번길 38-5 이레21빌딩</dd>,
 <dd class="road">서울 중랑구 봉화산로 194 신아타운1층 신내 맥도날드</dd>,
 <dd class="road">인천 연수구 먼우금로 200 (연수동) </dd>,
 <dd class="road">서울 도봉구 도봉로 541 (쌍문동) </dd>,
 <dd class="road">경기 성남시 분당구 판교역로 231 H스퀘어 S동 1층</dd>,
 <dd class="road">서울 강동구 양재대로 1382</dd>,
 <dd class="road">인천 연수구 경원대로 184</dd>,
 <dd class="road">서울 노원구 공릉로 231</dd>,
 <dd class="road">서울 노원구 한글비석로 57 (하계동)</dd>,
 <dd class="road">서울 송파구 위례광장로 290번지 위례중앙푸르지오 2단지</dd>,
 <dd class="road">경기 시흥시 정왕대로 210 (정왕동, EMART시화점 1층)</dd>,
 <dd class="road">경기 성남시 분당구 대왕판교로606번길 58</dd>,
 <dd class="road">서울 노원구 동일로 1341 장우빌딩 1층</dd>,
 <dd class="road">서울 강동구 양재대로 1587</dd>,
 <dd class="road">경기 성남시 분당구 야탑로81번길 11 (야탑동) </dd>,
 <dd class="road">경기 김포시 중봉로25번길 21</dd>,
 <dd class="road">인천 연수구 비류대로 176 (옥련동) </dd>,
 <dd class="road">경기 성남시 수정구 수정로 306 (신흥동) </dd>,
 <dd class="road">경기 수원시 장안구 서부로 2127</dd>,
 <dd class="road">경기 고양시 일산서구 대산로 113 1층 맥도날드(주엽동, 백마프라자)</dd>,
 <dd class="road">경기 고양시 덕양구 호국로 1699</dd>,
 <dd class="road">경기 성남시 분당구 백현로101번길 29 C&amp;C 빌딩 1층</dd>,
 <dd class="road">경기 수원시 장안구 경수대로 991 (송죽동)</dd>,
 <dd class="road">경기 고양시 일산동구 고양대로 745 (중산동) </dd>,
 <dd class="road">경기 고양시 일산서구 대산로 113 1층 맥도날드(주엽동, 백마프라자)</dd>,
 <dd class="road">경기 고양시 덕양구 호국로 1699</dd>,
 <dd class="road">경기 성남시 분당구 백현로101번길 29 C&amp;C 빌딩 1층</dd>,
 <dd class="road">경기 수원시 장안구 경수대로 991 (송죽동)</dd>,
 <dd class="road">경기 고양시 일산동구 고양대로 745 (중산동) </dd>,
 <dd class="road">서울 도봉구 도봉로 735</dd>,
 <dd class="road">서울 노원구 중계로 218</dd>,
 <dd class="road">인천 중구 인항로 38 (신흥동3가) </dd>,
 <dd class="road">인천 중구 우현로 85-1 (인현동)</dd>,
 <dd class="road">서울 노원구 동일로 1612</dd>,
 <dd class="road">서울 강동구 상일로6길 39</dd>,
 <dd class="road">인천 연수구 하모니로 128 (송도동)</dd>,
 <dd class="road">경기 성남시 분당구 성남대로 45 (구미동)</dd>,
 <dd class="road">경기 용인시 수지구 신수로 677</dd>,
 <dd class="road">경기 용인시 수지구 풍덕천로 119 (풍덕천동)</dd>]

In [71]:
del mc_soup_list2[0]
mc_soup_list2_df=pd.DataFrame(mc_soup_list2,columns=['주소']) 

mc_soup_list2_df

                                  주소
0    서울 구로구 디지털로31길 12 태평양물산 1층 맥도날드
1                서울 구로구 새말로 97 (구로동)
2            서울 구로구 경인로 662 디큐브시티 B2
3          서울 금천구 벚꽃로 298 대륭포스트타워 6차
4            서울 영등포구 여의대방로 145 세인트빌딩
..                               ...
160                  서울 강동구 상일로6길 39
161            인천 연수구 하모니로 128 (송도동)
162         경기 성남시 분당구 성남대로 45 (구미동)
163               경기 용인시 수지구 신수로 677
164       경기 용인시 수지구 풍덕천로 119 (풍덕천동)

[165 rows x 1 columns]

In [78]:
mc_soup_list2_df=mc_soup_list2_df[mc_soup_list2_df['주소'].split()[0]=='서울']

AttributeError: 'Series' object has no attribute 'split'

In [88]:
sgg_names=[]
for idx in mc_soup_list2_df['주소']:
    if idx.split()[0]=='서울':
        sgg_names.append(idx.split()[1])

sgg_names

['구로구',
 '구로구',
 '구로구',
 '금천구',
 '영등포구',
 '금천구',
 '금천구',
 '영등포구',
 '구로구',
 '관악구',
 '양천구',
 '영등포구',
 '영등포구',
 '동작구',
 '양천구',
 '양천구',
 '금천구',
 '동작구',
 '동작구',
 '양천구',
 '강서구',
 '마포구',
 '마포구',
 '마포구',
 '양천구',
 '동작구',
 '강서구',
 '서대문구',
 '서초구',
 '용산구',
 '용산구',
 '마포구',
 '서초구',
 '서초구',
 '중구',
 '강서구',
 '중구',
 '중구',
 '서대문구',
 '강남구',
 '강남구',
 '종로구',
 '은평구',
 '서초구',
 '강남구',
 '강남구',
 '서초구',
 '서초구',
 '은평구',
 '강남구',
 '강남구',
 '종로구',
 '강남구',
 '강남구',
 '종로구',
 '종로구',
 '은평구',
 '강남구',
 '성북구',
 '강남구',
 '성동구',
 '강남구',
 '성동구',
 '성북구',
 '송파구',
 '송파구',
 '성북구',
 '광진구',
 '동대문구',
 '광진구',
 '강북구',
 '동대문구',
 '송파구',
 '동대문구',
 '강북구',
 '송파구',
 '중랑구',
 '강북구',
 '중랑구',
 '송파구',
 '중랑구',
 '도봉구',
 '강동구',
 '노원구',
 '노원구',
 '송파구',
 '노원구',
 '강동구',
 '도봉구',
 '노원구',
 '노원구',
 '강동구']

In [82]:
sgg_names= pd.DataFrame(sgg_names)

sgg_names

       0
0    구로구
1    구로구
2    구로구
3    금천구
4   영등포구
..   ...
87   강동구
88   도봉구
89   노원구
90   노원구
91   강동구

[92 rows x 1 columns]

In [86]:
mc_sgg_count = sgg_names.pivot_table(index=0,values=0,aggfunc='count').rename(columns={"주소":"쇼핑몰 매장수"})

mc_sgg_count

Empty DataFrame
Columns: []
Index: [강남구, 강동구, 강북구, 강서구, 관악구, 광진구, 구로구, 금천구, 노원구, 도봉구, 동대문구, 동작구, 마포구, 서대문구, 서초구, 성동구, 성북구, 송파구, 양천구, 영등포구, 용산구, 은평구, 종로구, 중구, 중랑구]

In [114]:
count=0

for i in sgg_names:
    if i =='중랑구':
        count +=1

count

3